
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* can now reference my font */
body {
  font-family: 'Orbitron';
}
body {
  font-family: 'space-age';
}
body {
  font-family: 'Inter-Medium-500';
}